{% extends "base.twig" %}

{% block content %}
<div id="home" class="container pb-3" >
    <div class="row">
        <div class="col-12 mb-5">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                <img class="d-block w-100" src="photos/ad3.jpg" alt="First slide">
                </div>
                <div class="carousel-item">
                <img class="d-block w-100" src="photos/ad1.jpg" alt="Second slide">
                </div>
                <div class="carousel-item">
                <img class="d-block w-100" src="photos/ad2.jpg" alt="Third slide">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
            </div>
        </div>

        <div class="col-12 h1 mt-3 text-center font-weight-bold">
            Alexandra Daddario
        </div>
        <div class="col-12">
			<div class="jumbotron">
				Alexandra Daddario est une actrice américaine, née le 16 mars 1986 à New York.<br><br>

				Elle est révélée, au cinéma, par son rôle d'Annabeth Chase dans les films Percy Jackson : Le Voleur de foudre et Percy Jackson : La Mer des monstres mais aussi, à la télévision, notamment pour avoir joué dans les séries dramatiques et policières FBI : Duo très spécial (2009-2011) et True Detective (2014).<br><br>

				Elle a aussi joué des rôles d'invitée dans Parenthood (2011), New Girl (2014) et dans American Horror Story (2015).<br><br>

				Elle occupe des rôles principaux dans des films comme l'horrifique Texas Chainsaw 3D (2013), le film catastrophe San Andreas (2015), la romance Un choix (2016) et la comédie d'action Baywatch : Alerte à Malibu (2017). <br>
			</div>
        </div>
        <div class="col-12 col-md-3 mb-3">
			<img src="https://i.skyrock.net/3267/99353267/pics/3321481188_1_3_HF2v4N0K.jpg" alt="">
        </div>
        <div class="col-12 col-md-3 mb-3">
			<img src="https://i.imgur.com/palaUGv.gif" alt="">
        </div>
        <div class="col-12 col-md-3 mb-3">
			<img src="https://fr.web.img6.acsta.net/pictures/19/08/27/14/42/3530223.jpg" alt="">
        </div>
        <div class="col-12 col-md-3 mb-3">
			<img src="https://maximumwallhd.com/wp-content/uploads/2015/06/fonds-ecran-alexandra-daddario-2.jpg" alt="">
        </div>
    </div>
</div>

{% endblock %}
