{% extends "base.twig" %}

{% block content %}
<div id="myform" class="container pt-3">
    <div class="row justify-content-center">
        <h2 class="col-12 text-center mb-3">Who are you ?</h2>
        <div class="col-12 col-md-6 col-lg-4">
            <form method="POST" action="/myform">
                <div class="form-group">
                    <label>What's your name</label>
                    <input name='name' id='name' class='form-control'  placeholder='name' value="{{parameters['name']}}">
                </div>
                <button type='submit' class='btn btn-primary'>Envoyer</button>
            </form>
            
            {{parameters["name"]}}
            
        </div>
    </div>
</div>
{% endblock %}