{% extends "base.twig" %}

{% block content %}
<div id="introduction" class="container pt-3">
    <div class="row justify-content-center">
        <h2 class="col-12 text-center">Alexandra Daddario</h2>
        <div class="col-12 col-md-8 col-lg-5 text-center mb-3">
            <img src="https://nestlords.com/wp-content/uploads/2020/03/Alexandra-Daddario-1.jpg" alt="">
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-7">
            Alexandra Daddario est une actrice américaine, née le 16 mars 1986 à New York.<br><br>

            Elle est révélée, au cinéma, par son rôle d'Annabeth Chase dans les films Percy Jackson : Le Voleur de foudre et Percy Jackson : La Mer des monstres mais aussi, à la télévision, notamment pour avoir joué dans les séries dramatiques et policières FBI : Duo très spécial (2009-2011) et True Detective (2014).<br><br>

            Elle a aussi joué des rôles d'invitée dans Parenthood (2011), New Girl (2014) et dans American Horror Story (2015).<br><br>

            Elle occupe des rôles principaux dans des films comme l'horrifique Texas Chainsaw 3D (2013), le film catastrophe San Andreas (2015), la romance Un choix (2016) et la comédie d'action Baywatch : Alerte à Malibu (2017).
        </div>
    </div>
</div>

{% endblock %}